#peok-23 {
  .navbar.navbar-dark-custom {
    background: #333333;
    color: #818181;

    .navbar-nav {
      .nav-link {
        color: #B0B0AF;

        &:hover,
        &:focus {
          background: #2D2D2D;
          color: #B0B0AF;
        }

        &.show {
          color: #fff;
        }
      }

      .active {
        >.nav-link {
          color: #fff;
        }
      }
    }
  }

  .navbar-vertical {
    &.navbar-expand-lg {
      position: absolute !important;
    }
  }

  .page-wrapper {
    // background-color: #282828;
  }

  ul.current-opened-file {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 20px;
      background: #1F1F1F;
      color: #B0B0AF;
      border-right: 1px solid #2D2D2D;
      cursor: pointer;

      &.active {
        background: #282828;
        color: #fff;
      }
    }

    img {
      width: 23px;
      margin-right: 10px;
    }
  }
}