.nav-link-button {
  display: flex;
  transition: color 0.3s;
  align-items: center;
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0.5rem 0.75rem;
  color: inherit;
}